<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Intern</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>


    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h4>{{ name }}</h4>
            <h5 class="card-title">Intern</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ id }}</li>
            <li class="list-group-item">{{ email }}</li>
            <li class="list-group-item">{{ school }}</li>
        </ul>

    </div>
</body>

</html>